.principal {
    display: flex;
    align-items: center;
    background-color: aquamarine;
    /* width: 768px; */
    margin: 1%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.linhas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aquamarine;
}
