body {
    color: white;
    background-color: #2e3440;
}
.principal {
    display: flex;
    align-items: center;
    background-color: #4c566a;
    /* width: 768px; */
    margin: 1%;
    justify-content: space-between;
    border: 2px solid #5e81ac;
    border-radius: 8px;
    /* flex-wrap: wrap; */
}

.linhas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #4c566a;
    border: 2px solid #5e81ac;
    border-radius: 8px;
}
